.html {
  margin: 1vw;
}
h1 {
  height: 10vh;
}
.scoreBtn {
  margin: 0.3vw;
  height: 8.5svh;
  width: 30vw;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 10px;
}
.scoreBtn.transparent {
  display: none;
}
.overlay {
  background-color: lightgray;
}
